#youtube-player {
  width: 150vh;
}


.video-container {
  margin-top: 20px;
  
}

.mainDropdownCheat {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}
.mainSectionbig {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
