body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  line-height: 1.8;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 40px;
  font-size: 3em;
}
.selectTopic {
  display: flex;
  justify-content: center; 
  align-items: center;   
  font-size: 22px;
  background-color: rgb(36, 48, 36);
  color: #ececec;
}
#topic {
  margin: 20px;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #d3bfbf;
  text-transform: uppercase;
  justify-content: center;
}
#question {
  font-size: 24px;
  color: #155724;

}
#question-container {
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30vh;

}

ul {
  list-style-type: none;
  padding: 0;
}

.liL {
  background-color: rgb(36, 48, 36);
  color: white;
  padding: 16px; 
  margin: 12px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 1.5em; 
}

.liL:hover {
  background-color: #335034;
  transform: translateY(-3px);
}

.liL:active {
  background-color: #387a3b;
  transform: translateY(1px);
}

#result {
  text-align: center;
  font-size: 1.8em; 
  font-weight: bold;
  margin-top: 30px;
  padding: 20px;
  background-color: #f1f1f1;
  border: 2px solid #ddd;
  border-radius: 8px;
  color: #333;
}

#result.success {
  background-color: #d4edda;
  color: #155724;
}

#result.error {
  background-color: #f8d7da;
  color: #721c24;
}

@media (max-width: 300px) {
  #question-container {
    padding: 25px;
    max-width: 100%;
  }

  h1 {
    font-size: 2.5em; 
  }

  #topic {
    font-size: 2.2em; 
  }

  #result {
    font-size: 1.6em; 
  }

  li {
    font-size: 1.4em;
  }
  .dropdown {
    max-width: 20px;
  }
}

header {
  background-color: rgb(36, 48, 36);
  padding: 1rem;
}


.banner {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  margin-left: 4%;
  margin-right: 4%;
  text-decoration: none;
}


.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.nav-links.collapsed {
  max-height: 0;
  opacity: 0;
}




.leftNav, .rightNavOne, .rightNavTwo {
  background-color: rgb(30, 40, 30);
  color: white;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-align: center;

}

.leftNav:hover, .rightNavOne:hover, .rightNavTwo:hover {
  background-color: #275029;
  transform: translateY(-3px);

}


.hamburger {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;

}


@media (max-width: 860px) {
  .hamburger {
    display: block; 
  }

  .nav-links {
    display: none; 
  }

  .nav-links.expanded {
    display: flex; 
  }
  .nav-links.expanded {
    opacity: 1;
    display: flex;
    flex-direction: column; 
    align-items: start;
  }


}
.hiddenAnswer {
  visibility: hidden;
}
#result:hover .hiddenAnswer {
  visibility: visible; 
  color: rgb(53, 94, 57); 
}


